.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: $desktop) {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  @media screen and (max-width: $mobile-only) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 110px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 130px;
  }
}

.section--pink-background {
  background-color: rgba(255, 245, 246, 1);
}

.section__title {
  color: var(--accent-color);
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  &--is-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}

.section__label {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-brand-color);

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}