<section class="section contacts__section">
  <h2 id="contact" class="section__title--is-hidden">Our contacts</h2>
  <div class="container">
    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__description">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="worktime">
          <li class="worktime__workdays">
            <p class="worktime__day">Monday - Friday</p>
            <p class="worktime__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="worktime__day">Saturday - Sunday</p>
            <p class="worktime__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact-block">
          <li class="contact-block__item">
            <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li class="contact-block__item">
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__description">FOOD TRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="worktime">
          <li class="worktime__workdays">
            <p class="worktime__day">Monday - Friday</p>
            <p class="worktime__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="worktime__day">Saturday - Sunday</p>
            <p class="worktime__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact-block">
          <li class="contact-block__item">
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li class="contact-block__item">
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__description">CAFE</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="worktime">
          <li class="worktime__workdays">
            <p class="worktime__day">Monday - Friday</p>
            <p class="worktime__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="worktime__day">Saturday - Sunday</p>
            <p class="worktime__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contact-block">
          <li class="contact-block__item">
            <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li class="contact-block__item">
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts-button">
      <li class="contacts-button__item">
        <button
          type="button"
          class="button button--pink contacts__button"
          data-contact-locations-modal-open
        >
          Our Locations
        </button>
      </li>
      <li class="contacts-button__item">
        <button
          type="button"
          class="button button--white contacts__button"
          data-contact-franchise-modal-open
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
