<section class="section reviews__section">
  <div class="container">
    <h2 class="section__title--is-hidden">Customer Reviews</h2>
    <div class="slider">
      <div class="slider__item">
        <img src="../src/images/Customer Reviews/Customer1.png" alt="customer foto" />
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__name">Emily, Los Angeles</p>
      </div>

      <div class="slider__item">
        <img src="../src/images/Customer Reviews/Customer2.png" alt="customer foto" />
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__name">Emily, Los Angeles</p>
      </div>

      <div class="slider__item">
        <img src="../src/images/Customer Reviews/Customer3.png" alt="customer foto" />
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__name">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
