<section class="section">
    
<picture class="gallery">
    <source srcset="./images/Gallery/gallery-desktop.jpg 1x, ./images/Gallery/gallery-desktop@2x.jpg 2x"
        type="image/jpeg" media="(min-width: 1280px)" />
    <source srcset="./images/Gallery/gallery-tablet.jpg 1x, ./images/Gallery/gallery-tablet@2x.jpg 2x" type="image/jpeg"
        media="(min-width: 768px)" />
    <source srcset="./images/Gallery/gallery-mobile.jpg 1x, ./images/Gallery/gallery-mobile@2x.jpg 2x" type="image/jpeg"
        media="(min-width: 480px)" />

    <img class="gallery__img" src="./images/Gallery/gallery-mobile.jpg" alt="different types of ice-cream" />
  
</section>