<!-- Header В шапке находится лого, меню навигации и кнопка. 
 На мобильной и планшетной версии меню навигации отображается,
     как выезжающая боковая панель. 
 Мобильное меню фиксированное, высота соответствует высоте вьюпорта.
 Меню реализовано якорными ссылками, которые ведут на соответствующие
     разделы макета. 
 Кнопка “Buy now” открывает модальное окно с формой заказа.
 Так как дизайна модального окна нет на макете, это является
     не обязательным заданием. -->

<!-- header -->
<!-- хедер должен быть составной частью секции hero-header,
в связи с этим у таблетной и десктопной версии ==background-color: transparent==
для того чтобы было видно фоновое изображение от hero  -->

<!-- <div class="hero"> -->

<header class="header">
  <div class="container header__container">
    <!-- =========лого========== -->
    <a class="logo" href="/">
      <img
        class="logo__image"
        srcset="./images/Header/ice-cream/logo.png 1x, ./images/Header/ice-cream/logo@2x.png 2x"
        src="./images/Header/ice-cream/logo.png"
        alt="ice cream cone"
      />
      <span class="logo__text"> icecream </span>
    </a>

    <!-- кнопка перключатель мобильного меню открытие -->
    <button
      type="button"
      class="mobile-menu__switch mobile-menu__switch--open mobile-menu__open--js"
      aria-expanded
    >
      <svg
        class="mobile-menu__svg"
        width="32"
        height="32"
        aria-label="Переключатель мобильного меню"
      >
        <use class="mobile-menu__icon-burger" href="./images/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- кнопка перключатель мобильного меню открытие end -->

    <!-- ===кнопка купить для хедера=== -->
    <button type="button" class="button button--white header__button">
      <span class="button__buy">Buy now </span>
    </button>
    <!-- кнопка купить для хедера end -->

    <div class="mobile-menu mobile-menu--js">
      <div class="mobile-menu__box">
        <!-- ========кнопка перключатель мобильного меню закрытие== -->
        <button
          type="button"
          class="mobile-menu__switch mobile-menu__switch--close mobile-menu__close--js"
          data-modal-close
        >
          <svg class="mobile-menu__svg" width="34" height="34" aria-label="mobile menu switch">
            <use class="mobile-menu__icon-cross" href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <!-- ===кнопка перключатель мобильного меню закрытие end -->

        <!-- кнопка модального окна buy-now -->
        <button type="button" class="button button--white mobile-menu__button">
          <span class="button__buy">Buy now </span>
        </button>
        <!-- кнопка модального окна buy-now end-->

        <!-- ====навигация сайта =========== -->
        <!-- якоря расставлены на заголовки соответствующих 
                  секций, даже если они скрыты -->
        <nav class="site-nav">
          <ul class="site-nav__list">
            <li class="site-nav__item">
              <a href="#" class="site-nav__link">Home </a>
            </li>
            <li class="site-nav__item">
              <a href="#about-us" class="site-nav__link">About us </a>
            </li>
            <li class="site-nav__item">
              <a href="#how-it-made" class="site-nav__link">How it’s made? </a>
            </li>
            <li class="site-nav__item">
              <a href="#our-products" class="site-nav__link">Our products </a>
            </li>
            <li class="site-nav__item">
              <a href="#contact" class="site-nav__link">Contact </a>
            </li>
          </ul>
        </nav>
        <!-- ..... ====навигация сайта end======= ... -->
      </div>
    </div>

    <!-- ======================================= -->
  </div>
</header>

<!-- ====================== -->
