<section class="hero">
  <div class="hero__block container">
    <h1 class="setion__titel animate__animated animate__backInLeft">
      <span class="hero___titel--white"
        >ice cream <br />
        made with</span
      >
      PASSION
    </h1>
    <div class="hero__button-block">
      <a href="#our-products" class="hero__button"> Products </a>
      <a href="#how-it-made" class="hero__button hero__button--white"> How its made? </a>
    </div>
    <picture>
      <source
        srcset="
          ./images/Hero/hero-icecream-desktop.webp    1x,
          ./images/Hero/hero-icecream-desktop@2x.webp 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/Hero/hero-icecream-tablet.png     1x,
          ./images/Hero/hero-icecream-tablet@2x.webp 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/Hero/hero-icecream-mobile.png     1x,
          ./images/Hero/hero-icecream-mobile@2x.webp 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="hero__ice-cream animate__animated animate__tada animate__delay-1s"
        src="./images/Hero/hero-icecream-tablet.png"
        alt="icon ice-cream"
      />
    </picture>
    <div class="hero__milk">
      <picture>
        <source
          srcset="./images/Hero/hero-milk-desktop.png 1x, ./images/Hero/hero-milk-desktop@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/Hero/hero-milk-tablet.png 1x, ./images/Hero/hero-milk-tablet@2x.png 2x"
          media="(min-width:768px)"
        />
        <img
          class="herro__icon-milk animate__animated animate__backInLeft animate__delay-2s"
          src="./images/Hero/hero-milk-tablet.png"
          alt="icon milk"
        />
      </picture>
      <p class="herro__text-milk">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="hero__btn-milk" href="#"></a>
    </div>
    <div class="hero__box">
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__num">16</span>
          <p class="hero__cofes">cafes</p>
        </li>
        <li class="hero__item">
          <span class="hero__num">23</span>
          <p class="hero__cofes">food trucks</p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="./images/Hero/hero-girl-desktop.png 1x, ./images/Hero/hero-girl-desktop@2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/Hero/hero-girl-tablet.png 1x, ./images/Hero/hero-girl-tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <img
        class="hero__tasty animate__animated animate__heartBeat animate__delay-1s"
        src="./images/Hero/hero-girl-tablet.png "
        alt="gerl with milk"
      />
    </picture>
  </div>
</section>
