<section class="hero section">
  <div class="hero__block container">
    <h1 class="section__title">
      <span class="hero___titel--white"
        >ice cream <br />
        made with</span
      >
      PASSION
    </h1>
    <div class="hero__button-block">
      <a href="#" class="hero__button"> Products </a>
      <a href="#" class="hero__button hero__button--white"> How its made? </a>
    </div>
    <img
      class="hero__ice-cream"
      src="./images/Hero/hero-icecream-mobile.png"
      alt="icon ice-cream"
    />
    <img
      class="hero__ice-cream--tab"
      src="/images/Hero/hero-icecream-tablet.png"
      alt="icon ice-cream"
    />
    <img
      class="hero__ice-cream--desc"
      src="/images/Hero/hero-icecream-desktop.png"
      alt="icon ice-cream"
    />
    <div class="hero__milk">
      <img class="herro__icon-milk" src="/images/Hero/hero-milk-tablet.png" alt="icon milk" />
      <p class="herro__text-milk">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a href="#"></a>
    </div>
    <div class="hero__box">
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__num">16</span>
          <p class="hero__cofes">cafes</p>
        </li>
        <li class="hero__item">
          <span class="hero__num">23</span>
          <p class="hero__cofes">food trucks</p>
        </li>
      </ul>
    </div>
    <img class="hero__tasty" src="/images/Hero/hero-girl-tablet.png" alt="" />
  </div>
</section>
