<div class="backdrop visuall-hidden">
  <div class="modal">
    <button class="button__close">
      <svg>
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <b>Our Location</b>
    <svg>
      <use href="./images/Hero/arrow-right_3-removebg-preview.png"></use>
    </svg>
    <img src="./images/Hero/hero-girl-desktop.png" alt="girl with icecream" />
    <div>
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1GjoIbMz_y6WZ2c9CCroh4yJi62FcQs4F&ehbc=2E312F"
        width="640"
        height="480"
      ></iframe>
    </div>
    <div class="modal-box">
      <ul class="modal-box__list">
        <li class="modal-box__item">
          <span class="modal-box__num">16</span>
          <p class="modal-box__coffes">cafes</p>
        </li>
        <li class="modal-box__item">
          <span class="modal-box__num">23</span>
          <p class="modal-box__coffes">food trucks</p>
        </li>
      </ul>
    </div>

    <button class="button button--white">Home</button>
    <button class="button button--pink">Franchise</button>
  </div>
</div>
