.about__section {
     background-color: var(--light-section-bgc);
      background-image: url('../images/About/about-background-mobile.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50% 90%;

      @media screen and (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        background-image: url('../images/About/about-background-mobile@2x.png');
}

      @media screen and (min-width: 481px) {
         background-image: url('../images/About/about-background-desktop.png');

     @media screen and (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        background-image: url('../images/About/about-background-desktop@2x.png');
    }
}

     @media screen and (min-width: 769px) {
      background-image:
      url('../images/About/about-background-desktop.png');


    @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: 
      url('../images/About/about-background-desktop@2x.png');
  }
   }
       @media screen and (min-width: 1700px) {
         background-size: auto;

       }

         @media screen and (max-width: $mobile-only) {
           padding-top: 80px;
         }

         @media screen and (min-width: $tablet) {
           padding-top: 110px;
         }

         @media screen and (min-width: $desktop) {
           padding-top: 130px;
         }

 }

 .about__flex {
          @media screen and (min-width: $tablet) {
              display: flex;
             
          }
 }
.about__title {
    margin-bottom: 26px;

     @media screen and (min-width: $tablet) {
             margin-bottom: 50px;
}
 @media screen and (min-width: $desktop) {
   margin-bottom: 55px;

 }
}

.about__img {
     @media screen and (max-width: $mobile-only) {
    margin-bottom: 46px;

     }

     @media screen and (min-width: $tablet) {
    //    width: calc((100% - 20px) / 2);
       margin-right: 17px;
     }

     @media screen and (min-width: $desktop) {
      margin-right: 74px;
     }
}

.text-box {
   @media screen and (min-width: $tablet){
         width: calc((100% - 17px) / 2);
     }

      @media screen and (min-width: $desktop) {
        width: calc((100% - 74px) / 2);
      }


      
}
.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: var(--main-text-color);

     @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.7;

     }

  @media screen and (min-width: $desktop){
    font-size: 16px;
  

  }

    &--light {
        color: var(--secondary-text-color);

          @media screen and (min-width: $tablet) {
            font-size: 14px;
            line-height: 1.7;
          }
 
        @media screen and (min-width: $desktop){
       line-height: 1.9;
      }
         
    }

   

    &:not(:last-child) {
        margin-bottom: 20px;

      @media screen and (min-width: $desktop){
             margin-bottom: 35px;
        }
 }
 @media screen and (min-width: $tablet) {
   .text-box &--last {
     margin-bottom: 0px;
   }
}}

.about__btn {
     @media screen and (min-width: $tablet) {
         margin-top: 60px;
     }

      @media screen and (min-width: $desktop) {
        margin-top: 45px;
      }

}
