.advantages__index {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);
}
.advantages__text {
  font-size: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
}
