.advantages__item {
  margin-top: 38px;
}
.advantages__index {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);
  margin-top: 16px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-top: 36px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}
.advantages__text {
  font-size: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
}
