.contacts__section {
  background-color: var(--light-brand-color);
}
.contacts {
  margin-bottom: 54px;
}

.contacts__item {
  margin: 0 auto;
  @include text(500, 12px, 1.86, 0.04em, var(-- --main-text-color));
  background-color: var(--main-bgc);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  width: 220px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__description {
  display: inline-block;
  padding: 0 24px;
  color: var(--main-bgc);
  background-color: var(--products-second-card-color);
  margin-bottom: 25px;
  border-radius: 4px;

  .contacts__item:nth-child(even) & {
    background-color: var(--products-third-card-color);
  }
}

.contacts__city {
  margin-bottom: 10px;
}

.contacts__text {
  color: var(--secondary-text-color);
  letter-spacing: 0;
  margin-bottom: 50px;
}

.contacts__worktime {
  margin-bottom: 50px;
}

.conntacts__workdays {
  margin-bottom: 10px;
}

.contacts__day {
  letter-spacing: 0;
}

.contacts__time {
  color: var(--dark-brand-color);
}

.contacts__link {
  color: var(--secondary-text-color);
  letter-spacing: 0;
}
