.contact_modal__backdrop {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.contact-modal {
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 620px;
  background-color: var(--light-section-bgc);
  z-index: 950;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 52px 27px 32px 27px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: left;

    transform: translate(-50%, -50%) scale(1);
    max-width: 700px;
    min-height: 760px;
    max-height: 75vh;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1056px;
    // min-height: 1128px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal-button__close {
  width: 40px;
  height: 40px;
  background-color: var(--main-bgc);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-button__icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
}

.contact-modal__title {
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.contact-modal__img {
  @media screen and (max-width: $mobile-only) {
    display: none;
  }
  display: block;
  position: absolute;
  top: 40px;
  right: 80px;
  width: 168px;
  height: 133px;
  z-index: -1;

  @media screen and (min-width: $desktop) {
    top: 40px;
    right: 80px;
    width: 300px;
    height: 300px;
  }

  &::after {
    content: '';
    background-image: url('../images/Contacts/ellipse.svg');
    background-repeat: no-repeat;

    @media screen and (max-width: $mobile-only) {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      height: 324px;
      width: 322px;
      position: absolute;
      top: -120px;
      right: -120px;
      z-index: -2;
    }
    @media screen and (min-width: $desktop) {
      top: -120px;
      right: -15px;
    }
  }
}

.contact-modal__frame {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 48px auto;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  box-shadow: (0px 8px 30px rgba(212, 20, 67, 0.1));

  @media screen and (min-width: $tablet) {
    width: 620px;
    height: 462px;
  }

  @media screen and (min-width: $desktop) {
    width: 900px;
    max-width: 900px;
  }
}

.contact-modal__map {
  width: 100%;
  height: 100%;
  min-height: 270px;
  border: none;
}

.modal-box {
  position: relative;

  @media screen and (max-width: $mobile-only) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: 40px;
    right: 60px;
  }
}
.modal-box__list {
  display: flex;
  position: absolute;
  top: 3px;
  left: -130px;
}

.modal-box__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 124px;
}

.modal-box__num {
  font-family: Titan One;
  @include text(400, 46px, 0.8, 0.04em, var(--accent-color));
  z-index: 1;

  &::after {
    content: '';
    background-image: url('../images/Hero/Ellipse-white.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -2px;
    right: 45px;
    z-index: -1;
  }
}

.modal-box__coffes {
  @include text(400, 14px, 1.23, 0, var(--accent-color));
  padding-left: 20px;
}

.contact-modal__button-box {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.contact-modal__button {
  width: 160px;
}

.contact-modal__link {
  cursor: pointer;
  height: 44px;
  min-width: 64px;
  border: none;
  border-radius: var(--button-border-radius);
  padding: 12px 20px;
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  color: var(--main-bgc);
  background-color: var(--accent-color);
  width: 160px;
  display: block;
  margin: 0 auto 10px auto;

  @media screen and (min-width: $tablet) {
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    content: '';
    background-image: url('../images/Contacts/greater-than-white.svg');
    height: 10px;
    width: 7px;
    display: inline-block;
    margin-left: 11px;
  }

  &:hover,
  &:focus {
    background-color: var(--hover-button-bgc);
  }
}
