// .hero {
//   position: relative;
// }


.header {
  background-color: transparent;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $desktop) {

  }
}

.logo {
  display: flex;
  align-items: center;

  font-family: 'Titan One', sans-serif;
  font-size: 25px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0;
}
.logo__image {
  margin-right: 18px;
}


// оверлей

// .overlay {
//   margin-left: auto;
//   margin-right: auto;

 
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/About/about-background-desktop.png);
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/About/about-background-desktop@2x.png);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//   }

//   @media screen and (min-width: 768px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/About/about-background-desktop.png);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;

//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../images/About/about-background-desktop@2x.png);
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }
//   }

//   @media screen and (min-width: 1200px) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/About/about-background-mobile.png);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;

//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../images/About/about-background-mobile@2x.png);
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }
//   }
// }

// .backdrop {
//   position: fixed;

//   width: 100vw;
//   height: 100vh;
//   z-index: 1;

//   overflow-y: scroll;

   
//   background-image: linear-gradient(
//     to right,
//     rgba(238, 174, 202, 0.8) ,
//     rgba(178, 181, 184, 0.6)     
//   );

//   opacity: 1;
//   visibility: visible;

//   transition: visibility 400ms cubic-bezier(0.4, 0, 0.2, 1),
//     opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

//   &--is-hidden {
//     visibility: hidden;
//     pointer-events: none;
//     opacity: 0;
//     // position: absolute;
//     //   top: 50%;
//     //   left: 50%;
//     //   transform: translate(-50%, -50%);
    
   
//   }

//   // @media screen and (max-width: 767px) {
//   //   padding: 15px 15px;
//   // }

 
// }


// мобильное меню


.mobile-menu {
  display: none;
  background-color: var(--mobile-menu-bgc);
  // position: fixed;
  padding: 48px 15px;
  top:    0;
  right:  0;
  z-index: 1;
  height: 100vh;
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 250px;
    padding: 48px 20px;

    // transform: translatex(100%);
    } 
    
     @media screen and (min-width: $tablet) {
      width: 254px;
      padding: 48px 24px;
      top: 48px;
      right: 0;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
     position: static;
     background-color: yellowgreen;
     padding: 0;
     width: auto;
     height: auto;
     margin-left: auto;
      }

  // &--is-open {
  //   overflow: hidden;
  //   position: absolute;
  //   top:    0;
  //   right:  0;

  //   display: block;
  //   padding: 48px 15px;

  //   width:  100%;
  //   height: 100vh;
  //   // transform: translatex(100%);



  //   transition-property: transform;
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  //   @media screen and (min-width: 320px) {
  //     width: 250px;
  //     padding: 48px 20px;
    // }
  

  // }
 
}

// body.mobile-menu--is-open {
//   overflow: hidden;
// }

.mobile-menu--is-open {
  position: absolute;
    top: 0;
    right: 0;
  display: block;
  @media screen and (min-width: $desktop) {
  display: none;
 
  }
}
@media screen and (min-width: $desktop) {
  .site-nav {
    display: block;
  }
 
  }


.mobile-menu__box {
  margin-left: auto;
  margin-right: auto;
 @media screen and (min-width: $desktop) {
    // order: 2;
  }
}

// кнопка купить для хедера
.header__button {
  display: none;
  margin-right: 0;
  margin-left: 30px;
  font-weight: 700;

  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    margin-left: auto;
    order: 2;
  }
}
//  кнопка купить для хедера end

// ====кнопка купить для моб меню 
.mobile-menu__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  font-weight: 700;

  @media screen and (min-width: 320px) {
    width: 209px;
  }

  @media screen and (min-width: $tablet) {
    width: 186px;
    display: block;
  }

  @media screen and (min-width: $desktop) {
      display: none;}
  
 }
// =======кнопка купить для моб меню end

// переключатель мобильного меню

.mobile-menu__switch {
  padding: 0;
  background-color: transparent;
  border: transparent 1px solid;
}



.mobile-menu__switch--open {
  @media screen and (min-width: $tablet) {
   margin-left: auto;
  }

@media screen and (min-width: $desktop) {
  
  display: none;}
}
.mobile-menu__switch--open.--is-open {
  display: none;
}

.mobile-menu__icon-cross {
//  fill: var(--main-bgc);
fill: black;
  
}
.mobile-menu__icon-burger {
 fill: var(--accent-color);

  
}
.mobile-menu .mobile-menu__switch--close {
  display: none;
  
}

.mobile-menu--is-open  .mobile-menu__switch--close {
  display: block;
  position: absolute;
  top: 28px;
  right: 23px;
  z-index: 1;
}

// .mobile-menu__switch:hover .mobile-menu__icon-cross,
// .mobile-menu__switch:focus .mobile-menu__icon-cross {
//   fill: var(--accent-color);
// }




// ===========навигация сайта=========


.site-nav {
   @media screen and (min-width: $desktop) {
    position: static;
    display: flex;
   }
}


.site-nav__list {
  @media screen and (min-width: $desktop) {
    display: flex;
     } 

   &:first-child {
    border-top: 1px solid #e18298;

    @media screen and (min-width: $desktop) {
      border-color: transparent;
       }}
 
 
}
.site-nav__item {
  border-bottom: 1px solid #e18298;

  @media screen and (min-width: $desktop) {
    border-color: transparent;
   
     }
}


.site-nav__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
  margin-right: 35px;
}}


.site-nav__link {
  padding: 12px 0;
  //   background-color: var(--mobile-menu-bgc);

  color: var(--main-bgc);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  &:active,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    font-weight: 700;
    font-size: 16px;
  
   }
 
}
// --accent-color: #d41443;====================
