@media screen and (min-width: $mobile) {
}

.hero {
  background-color: #ffb8ca;
}
.hero__block {
  // min-width: 320px;
  // max-width: 480px;
  position: relative;

  background-image: url(/images/Hero/Ellipse-mob.png);
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: $tablet) {
    // min-width: 768px;
    // max-width: 1200px;
    background-image: url(/images/Hero/Ellipse-tab.png);
    background-position: center right 35%;
  }
  @media screen and (min-width: $desktop) {
    // min-width: 1280px;
    // max-width: 1200px;
    background-image: url(/images/Hero/Ellipse.png);
    background-position: center right 35%;
  }
  
}
.hero__titel {
  font-weight: normal;
  font-family: Titan One;
  position: relative;
  z-index: 25;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 137px;
  color: #d41443;

  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;
  @media screen and (min-width: $tablet) {
    padding-top: 102px;
  }
}
.hero___titel--white {
  color: #ffff;
  text-transform: lowercase;
  font-size: 26px;
  line-height: 30px;
}
.hero__ice-cream {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 32px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.hero__button {
  padding: 8px 20px;
  display: flex;
  font-family: DM Sans;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #d41443;
  border-radius: 50px;
  margin-bottom: 160px;
  font-size: 8px;
  line-height: 10px;

  background-color: #d41443;
  color: #ffffff;
  margin-right: 10px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
}
.hero__button--white {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #d41443;
}
.hero__button-block {
  display: flex;
  position: relative;
  z-index: 20;
  margin-left: 20px;
}
.hero__ice-cream--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 33%;
  }
}
.hero__ice-cream--desc {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.hero__milk {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 28px;
    margin-left: -418px;
  }
}
.herro__text-milk {
  @media screen and (min-width: $tablet) {
    width: 114px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }
}
.hero__box {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    top: 96px;
    right: 44px;
  }
}
.hero__item {
  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
    background-image: url(/images/Hero/Ellipse-white.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
}
.hero__num {
  @media screen and (min-width: $tablet) {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
}
.hero__cofes {
  @media screen and (min-width: $tablet) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: -webkit-center;
    color: #ffffff;
  }
}
.hero__tasty {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 34px;
    bottom: 0;
  }
}
@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}
