.hero {
  background-color: var(--brand-color);
}
.hero__block {
  position: relative;

  background-image: url(/images/Hero/ellipse-mob.png);
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: $tablet) {
    background-image: url(/images/Hero/ellipse-tab.png);
    background-position: center right 35%;
  }
  @media screen and (min-width: $desktop) {
    background-image: url(/images/Hero/ellipse.png);
    background-position: center right 35%;
  }
}
.hero__titel {
  font-family: Titan One;
  position: relative;
  z-index: 25;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 137px;
  color: var(--accent-color);

  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;
  @media screen and (min-width: $tablet) {
    padding-top: 102px;
  }
}
.hero___titel--white {
  color: var(--main-bgc);
  text-transform: lowercase;
  font-size: 26px;
  line-height: 30px;
}
.hero__ice-cream {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 32px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.hero__button {
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  margin-bottom: 160px;
  font-size: 8px;
  line-height: 10px;
  margin-right: 10px;
  background-color: var(--accent-color);
  color: var(--main-bgc);
  @media screen and (min-width: $tablet) {
    margin-bottom: 173px;
  }
}
.hero__button--white {
  border: 1px solid var(--main-bgc);
  background-color: var(--main-bgc);
  color: var(--accent-color);
}
.hero__button-block {
  display: flex;
  position: relative;
  z-index: 20;
  margin-left: 20px;
}
.hero__ice-cream--tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 33%;
  }
}
.hero__ice-cream--desc {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.hero__milk {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 28px;
  }
}
.herro__text-milk {
  @media screen and (min-width: $tablet) {
    width: 114px;
    font-size: 8px;
    line-height: 150%;
    color: var(--main-bgc);
  }
}
.hero__box {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    top: 96px;
    right: 44px;
  }
}
.hero__item {
  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
    background-image: url(/images/Hero/ellipse-white.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
}
.hero__num {
  @media screen and (min-width: $tablet) {
    font-family: Titan One;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
}
.hero__cofes {
  @media screen and (min-width: $tablet) {
    font-size: 8px;
    line-height: 10px;
    text-align: -webkit-center;
    color: #ffffff;
  }
}
.hero__tasty {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 34px;
    bottom: 0;
  }
}
@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}
